{% extends 'baseCli.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<style>    .example-wrapper { margin: 1em auto; max-width: 850px; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
 


    <h1>Ajouter une demande</h1>
    </br>

</br><form class="form-horizontal" action="/propDCli">

{% for i in 1.. nb  %}
     <div class="form-group">
      <label class="control-label col-sm-4" for="a{{ i }}">Arrondissement :</label>
      <div class="col-sm-2">
        <input oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" id="a{{ i }}"  name="a{{ i }}">
      </div>
    </div>
{% endfor %}
<div class="form-group">
      <label class="control-label col-sm-4" for="voy">Nombre de Voyageurs :</label>
      <div class="col-sm-2">
        <input oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" id="voy"  name="voy">
      </div>
    </div>    
    <div class="form-group">
      <label class="control-label col-sm-4" for="type">Type d'appartements :</label>
        <div class="col-sm-7">
        <select class="form-control" name="type">
        <option>STUDIO</option>
        <option>F1</option>
        <option>F2</option>
        <option>F3</option>
        <option>F4</option>
        </select>
        </div>
    </div>
 <div class="form-group">
      <label class="control-label col-sm-4" for="datearr">Date d'arrivée :</label>
      <div class="col-sm-7">
        <input type="date" class="form-control" id="datearr"  name="datearr">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="datedep">Date de départ :</label>
      <div class="col-sm-7">
        <input type="date" class="form-control" id="datedep"  name="datedep">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="prix">Prix Maximum (charges non comprises) /jour :</label>
      <div class="col-sm-7">
        <input oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" class="form-control" id="prix"  name="prix">
      </div>
    </div>
 
    
    </br>
    <input type="hidden" value={{ app.user.getId()}} name="id" id="id">
    <input type="hidden" value={{ nb }} name="nb" id="nb">
      </div>
        <center><button type="submit" class="btn btn-success">Valider</button></center>
        </form>
        </br>
        




</div>

{% endblock %}