{% extends 'baseCli.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<style>    .example-wrapper { margin: 1em auto; max-width: 900px; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
 


    <h1>Mes Demandes</h1>
    <form method="post" action="/propA">
  <input type="submit" value="Ajouter" class="btn btn-warning" name="Ajouter"/>
</form>
    </br></br>


    <table class="table table-hover">
    <thead>
      <tr>
        <center><th>Date d'arrivée</th></center>
        <center><th>Date de début</th></center>
        <center><th>Arrondissements concernés</th></center>
        <center><th>Type</th></center>
        <center><th></th></center>
        <center><th></th></center>
      </tr>
    </thead>
    <tbody>
    {% for dem in app.user.getDemandes() %}
      <tr>
        
        <center><td>{{ dem.getDateArrive()|date('d/m/Y') }}</td></center>
        <center><td>{{ dem.getDateDepart()|date('d/m/Y') }}</td></center>
        <center><td>
        {% for arron in dem.getArrondissements() %}
        {{ arron.getId() }} - 
        {% endfor %}
        </td></center>
        <center><td>{{ dem.getTypeDemande() }}</td></center>
         <form method="post" action="/modifDCli">
            <input name="id" type= "hidden" value ={{ dem.getId() }} size = "1" />
            <center><td><input type="submit" value="Modif" class="btn btn-success" name="Modif"/></td><center>
        </form>
         <form method="post" action="/suppDCli">
            <input name="id" type= "hidden" value ={{ dem.getId() }} size = "1" />
            <center><td><input type="submit" value="Suppr" class="btn btn-danger" name="Suppr"/></td><center>
        </form>
        
      </tr> 
    {% endfor %}
    
    </tbody>
  </table>
  </br>






</div>

{% endblock %}